@page "{id}"
@using Northwind.Pages.Products

@model EditProductModel
<h1>Edit @Model.Product.ProductName</h1>

<form method="POST">
    <input asp-for="Product.ProductId" type="hidden" />
    <input asp-for="@Model.Categories" type="hidden" />
    <input asp-for="@Model.Suppliers" type="hidden" />
    <div class="form-field">
        <label asp-for="Product.ProductName">Product Name</label>
        <input asp-for="Product.ProductName"/>
        <span asp-validation-for="Product.ProductName"></span>
    </div>
    <div class="form-field">
        <label asp-for="Product.CategoryId">Category</label>
        <select asp-for="Product.CategoryId"
               asp-items="@(new SelectList(@Model.Categories, "CategoryId", "CategoryName"))">
            <option selected="selected" disabled="disabled">Choose category</option>  
        </select>
        <span asp-validation-for="Product.CategoryId"></span>
    </div>
    <div class="form-field">
        <label asp-for="Product.SupplierId">Supplier</label>
        <select asp-for="Product.SupplierId"
               asp-items="@(new SelectList(@Model.Suppliers, "SupplierId", "CompanyName"))">
            <option selected="selected" disabled="disabled">Choose supplier</option>       
        </select>
        <span asp-validation-for="Product.SupplierId"></span>
    </div>

    <input class="button-primary" type="submit" name="save" value="Save" />
</form>