@using Northwind.Web.Models 
@model IList<EditProductViewModel>
<div class="products-table-label"> 
    <div class="products-table-label__text">
        <h2>These are the products available</h2>
    </div>
    <div class="products-table-label__button">
        <a class="btn btn-primary" href="/Products/Create">Create</a>
    </div>
</div>
<div class="products-table">
    <div class="products-table__heading row">
        <div class="products-table__row">
            <div class="products-table__header col-lg-2 col-md-2 col-xs-2">Name</div>
            <div class="products-table__header col-lg-1 col-md-1 col-xs-1">Category</div>
            <div class="products-table__header col-lg-2 col-md-2 col-xs-2">Company</div>
            <div class="products-table__header col-lg-1 col-md-1 col-xs-1">Price</div>
            <div class="products-table__header col-lg-1 col-md-1 col-xs-1">Quantity</div>
            <div class="products-table__header col-lg-1 col-md-1 col-xs-1">In Stock</div>
            <div class="products-table__header col-lg-1 col-md-1 col-xs-1">On Order</div>
            <div class="products-table__header col-lg-1 col-md-1 col-xs-1">R.Level</div>
            <div class="products-table__header col-lg-1 col-md-1 col-xs-1">Discontinued</div>
        </div>
    </div>
    <div class="products-table__body">
        @foreach(var product in @Model) {
            <div class="products-table__row row">
                <div class="products-table__cell col-lg-2 col-md-2 col-xs-2"><a asp-page="/Products/Edit" asp-route-id="@product.ProductId">@product.ProductName</a></div>
                <div class="products-table__cell col-lg-1 col-md-1 col-xs-1">@product.CategoryName</div>
                <div class="products-table__cell col-lg-2 col-md-2 col-xs-2">@product.CompanyName</div>
                <div class="products-table__cell col-lg-1 col-md-1 col-xs-1">@String.Format("{0:0.00}", product.UnitPrice)$</div>
                <div class="products-table__cell col-lg-1 col-md-1 col-xs-1">@product.QuantityPerUnit</div>
                <div class="products-table__cell col-lg-1 col-md-1 col-xs-1">@product.UnitsInStock</div>
                <div class="products-table__cell col-lg-1 col-md-1 col-xs-1">@product.UnitsOnOrder</div>
                <div class="products-table__cell col-lg-1 col-md-1 col-xs-1">@product.ReorderLevel</div>
                <div class="products-table__cell col-lg-1 col-md-1 col-xs-1">@product.Discontinued</div>
            </div>
        }
    </div>
</div>