@using Northwind.Entities
@model IList<Product>

<div class="row">
    <div class="col-md-12">
        <h2>These are the products available</h2>
        <ul>
            @foreach(var product in @Model) {
                <li>@product.ProductName by @{@product.Supplier.CompanyName}(@String.Format("{0:0.00}", product.UnitPrice)$ per @product.QuantityPerUnit units). In Stock: @product.UnitsInStock. On Order: @product.UnitsOnOrder </li>
            }
        </ul>
    </div>
</div>
